<div class="todo-list-wrapper">

  <mat-form-field class="new-item">
    <input
      matInput
      placeholder="New Item"
      (keypress)="addItem($event)"
      [(ngModel)]="newItem">
  </mat-form-field>

  <div class="all-items-wrapper" *ngIf="showAllItems">
    <app-todo-item
        *ngFor="let item of toDoItems; let i=index"
        [itemName]="item.name"
        [isItemCompleted]="item.completed"
        class="new-todo-item"
        (itemRemoved)="removeItem(i)"
        (itemStatusChanged)="updateItemStatus($event, i)">
    </app-todo-item>
  </div>

  <div class="active-items-wrapper" *ngIf="!showAllItems">
    <div class="active-item-wrapper" *ngFor="let item of toDoItems; let i=index">
      <app-todo-item
          *ngIf="!item.completed"
          [itemName]="item.name"
          [isItemCompleted]="item.completed"
          class="new-todo-item"
          (itemRemoved)="removeItem(i)"
          (itemStatusChanged)="updateItemStatus($event, i)">
      </app-todo-item>
    </div>
  </div>

</div>

<div class="no-items-to-complete-msg" *ngIf="shouldShowMessage()">
  You don't have any items to complete left!
</div>

<app-todo-footer
    [items]="toDoItems"
    (clearCompleted)="clearCompletedItems()"
    (showAll)="displayItemsConditionally($event)">
</app-todo-footer>
