<div class="todo-list-wrapper">

  <mat-form-field class="new-item">
    <input
      matInput
      placeholder="New Item"
      (keypress)="addItem($event)"
      [(ngModel)]="newItem">
  </mat-form-field>

  <div class="all-items-wrapper" *ngIf="showAllItems">
    <app-todo-item
        *ngFor="let item of toDoItems; let i=index"
        [itemName]="item.name"
        [isItemActive]="item.active"
        class="new-todo-item"
        (itemRemoved)="removeItem(i)"
        (itemStatusChanged)="updateItemStatus($event, i)">
    </app-todo-item>
  </div>

  <div class="active-items-wrapper" *ngIf="!showAllItems">
    <div class="active-item-wrapper" *ngFor="let item of toDoItems; let i=index">
      <app-todo-item
          *ngIf="item.active"
          [itemName]="item.name"
          [isItemActive]="item.active"
          class="new-todo-item"
          (itemRemoved)="removeItem(i)"
          (itemStatusChanged)="updateItemStatus($event, i)">
      </app-todo-item>
    </div>
  </div>

  <!-- <div class="active-itmes-wrapper" *ngIf="!showAllItems">
    <app-todo-item
        *ngFor="let item of activeItems; let i=index"
        itemName="{{ item.name }}"
        class="new-todo-item"
        (itemRemoved)="removeItem(i)"
        (itemStatusChanged)="updateItemStatus($event, i)">
    </app-todo-item>
  </div> -->

</div>

<app-todo-footer
    [items]="toDoItems"
    (clearCompleted)="clearCompletedItems()"
    (showAll)="displayItemsConditionally($event)">
</app-todo-footer>
