.todo-list-wrapper {
  margin-top: 20px;
}

.new-item {
  display: block !important;
  margin: 0 auto;
  width: 60%;
}

.new-todo-item {
  margin: 10px auto;
  width: 60%;
  display: block;
}

.no-items-to-complete-msg {
  width: 25%;
  text-align: center;
  margin: 50px auto;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid #ff4081;
}
