.footer {
  position: fixed;
  bottom: 0;
}

.footer-spacer {
  flex: 1 1 auto;
}

.items-counter {
  font-size: 16px;
}

.active-button {
  border: 1px solid;
}

.show-all-btn {
  margin-right: 5px;
}
